main {
	background: white;
	border-color: #8a9da8;
	height: 700px;
	overflow: hidden;
}

body {
        font-family:Verdana;
        font-size:11pt;
        background-color:#f0f0f0;
        max-width:75em;
        margin: 0 auto
}


table,
th,
td {
	border-collapse: collapse;
	padding: 0.3em 0.5em;
}

table {
	width:50%;
	height:1ß00%;
	align:center;
	text-align:left;
	margin-left:auto;
	margin-right:auto
}

th,
caption {
	background-color: #666;
	color: #fff;
	border: 1px solid #666;
}

td {
	background-image: linear-gradient(#f9f9f9, #e3e3e3);
	border-left: 1px solid #666;
	border-right: 1px solid #666;
}

tfoot {
	border-bottom: 1px solid #666;
}

caption {
	font-size: 1.5em;
	border-radius: 0.5em 0.5em 0 0;
	padding: 0.5em 0 0 0
}
/* 3. und 4. Spalte rechtsbündig */

td:nth-of-type(3),
td:nth-of-type(4) {
	text-align: right;
}

    
 nav ul {
    margin: 0; 
    padding: 0.8em;
    text-align: center;
    border: 1px solid black;
    background-color: silver;
  }

  nav li {
    list-style: none;
    display: inline-block;
    margin: 0; 
    padding: 0;
  }

  nav a, 
  nav span {
    display: block;
    width: 8em;
    margin: 0.6em 0 0 0;
    padding: 0.4em;
    text-decoration: none; 
    font-weight: bold;
    border: 1px solid blue;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 5px 10px white inset;
    color: gold; 
    background-color: royalblue;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
  }

  nav a:focus,
  nav a:hover, 
  nav span {
     color: royalblue; 
     background-color: gold;
  }

  nav a:focus,
  nav a:hover{
    margin-top: 0;
    padding: 1em 0.4em 0.4em;
  }  
