body {
	font-family:Verdana;
	font-size:11pt;
	background-color:#f0f0f0;
	max-width:75em;
	margin: 0 auto
}

td {
	font-family:Verdana;
	font-size:11pt;
	background-color:#d0d0d0;
	text-align:left;
	padding:4px
}

table {
	width:100%;
	height:100%;
	align:center;
	text-align:center;
	margin-left:auto;
	margin-right:auto
}


main {
	background: white;
	border-color: #8a9da8;
	height: 700px;
	overflow: hidden;
}
table,
th,
td {
	text-align:center;
	border-collapse: collapse;
	padding: 0.3em 0.5em;
}
table {
	margin-left: 1em;
}
th,
caption {
	background-color: #666;
	color: #fff;
	border: 1px solid #666;
}
td {
	background-image: linear-gradient(#f9f9f9, #e3e3e3);
	border-left: 1px solid #666;
	border-right: 1px solid #666;
}
tfoot {
	border-bottom: 1px solid #666;
}
caption {
	font-size: 1.5em;
	border-radius: 0.5em 0.5em 0 0;
	padding: 0.5em 0 0 0
}
/* 3. und 4. Spalte rechtsbündig */
td:nth-of-type(3),
td:nth-of-type(4) {
	text-align: right;
}
	   
    
nav {
				background-color: silver;
				border: 1px solid black;
				height: 2em;
				padding: 0.8em;
				width: 50em;
			}

			nav:after {
				clear: left;
				content: "";
			}

			nav ul {
				margin: 0;
				padding: 0;
				text-align: center;
			}

			nav li {
				float: left;
				list-style: none;
				margin: 0;
				padding: 0;
				position: relative;
			}

			/* Unternavigation ausblenden */
			nav ul ul {
				font: 0/0 serif;
				margin: 0;
				padding: 0;
				position: absolute;
				top: 2.5em;
				z-index: -1;
				-webkit-transition: all 0.5s ease-in;
				transition: all 0.5s ease-in;
			}

			/*  Unternavigation einblenden */
			nav ul li:hover ul {
				font: inherit;
				z-index: auto;
			}

			nav ul ul li {
				float: none;
				margin-bottom: 0.2em;
			}

			nav a,
			nav span {
				background-color: royalblue;
				border: 1px solid blue;
				border-radius: 10px 10px 0 0;
				box-shadow: 0px 5px 10px white inset;
				color: gold;
				display: block;
				font-weight: bold;
				margin: 0.6em 0 0 0;
				padding: 0.4em;
				text-decoration: none;
				/* Breite den in li enthaltenen Elementen zuweisen */
				width: 6.4em;
				-webkit-transition: all 0.5s ease-in;
				transition: all 0.5s ease-in;
			}

			nav ul ul a,
			nav ul ul span {
				border-radius: 10px;
			}

			/* aktuelle Unterseite kennzeichnen */
			nav a:focus,
			nav a:hover,
			nav span {
				color: royalblue;
				background-color: gold;
			}

			nav a:focus,
			nav a:hover {
				margin-top: 0;
				padding: 1em 0.4em 0.4em;
			}

			nav ul ul a:hover {
				margin: 0.6em 0 0 0;
				padding: 0.4em;
			}

			/* aktuelle Unterseite kennzeichnen */
			nav ul ul span {
				background-color: maroon;
				color: gold;
			}
