body {
	font-family:Verdana;
	font-size:11pt;
	background-color:#f0f0f0;
	max-width:75em;
	margin: 0 auto
}

td {
	font-family:Verdana;
	font-size:11pt;
	background-color:#d0d0d0;
	text-align:left;
	padding:4px
}

table {
	width:50%;
	text-align:left;
	margin-left:auto;
	margin-right:auto
}


main {
	background: white;
	border-color: #8a9da8;
	height: 700px;
	overflow: hidden;
}

th {
	text-align:left;
	border-collapse: collapse;
	padding: 0.3em 0.5em;
}


th,
caption {
	background-color: #666;
	color: #fff;
	border: 1px solid #666;
}
td {
	background-image: linear-gradient(#f9f9f9, #e3e3e3);
	border-left: 1px solid #666;
	border-right: 1px solid #666;
}
tfoot {
	border-bottom: 1px solid #666;
}
caption {
	font-size: 1.5em;
	border-radius: 0.5em 0.5em 0 0;
	padding: 0.5em 0 0 0
}

	   
    
nav li {
      display: inline;
    }
